     .header__text{
         letter-spacing: 5px;
         font-weight: bolder;
         font-size: 1.5em;        
     }
     .header__circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black
    }
     
     
     .navigation__list{
         height: 10vh;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
     } 

     .main__text{
         align-self: center;                
      
     }

     .article{
         &__logo{
             height: 40px;
             width: 40px;
             background-color: #e3eaf5;
             border-radius: 50%;
         }
         &__title{
             margin: 20px;
         }

     }
     .section2__img{
         max-width: 100%;
     }